
@font-face {
  font-family: "Kinopoisk";
  src: url("~@/assets/fonts/kinopoisk-light.woff2");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Kinopoisk";
  src: url("~@/assets/fonts/kinopoisk-regular.woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Kinopoisk";
  src: url("~@/assets/fonts/kinopoisk-medium.woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Kinopoisk";
  src: url("~@/assets/fonts/kinopoisk-semibold.woff2");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Kinopoisk";
  src: url("~@/assets/fonts/kinopoisk-bold.woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Futura";
  src: url("~@/assets/fonts/futura-bold.woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
